ion-toolbar{
    --background: #EFF0F5;
}
ion-content{
    --background: #EFF0F5;
}
.main_content_div{
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-label {
        display: block;
    }

    .form_div{
        width: 100%;
        padding: 20px;
        margin-top: 60px;

        .head_lbl{
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
        }

        .small_lbl{
            margin-bottom: 5px;
        }

        ion-input{
            border: 1px solid #707070;
            border-radius: 5px;
            margin-bottom: 10px;
            --padding-start: 8px;
        }

        ion-button{
            --border-radius: 5px;
            margin-top: 25px;
        }

    }

}