<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    
    <div class="form_div">
      <ion-label class="head_lbl">Change Password</ion-label>

      <ion-label class="small_lbl">New Password</ion-label>
      <ion-input type="text" placeholder="New Password"></ion-input>

      <ion-label class="small_lbl">Confirm Password</ion-label>
      <ion-input type="text" placeholder="Confirm Password"></ion-input>

      <ion-button expand="block" (click)="goToLogin()">
        Change Password
      </ion-button>

    </div>
  </div>
</ion-content>