<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    
    <div class="form_div">
      <ion-label class="head_lbl">Login</ion-label>

      <ion-label class="small_lbl">Email ID</ion-label>
      <ion-input type="text" placeholder="Email ID"></ion-input>

      <ion-label class="small_lbl">Passsword</ion-label>
      <ion-input type="text" placeholder="Password"></ion-input>

      <ion-label class="forgot" (click)="goToForgot()">Forgot password ?</ion-label>

      <ion-button (click)="goToHome()" expand="block">
        Login
      </ion-button>

      <ion-label class="or_lbl">Or Continue with</ion-label>

      <div class="flex_div">
        <ion-button class="fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button class="gp">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="bottom_div">
      <ion-label (click)="goToRegister()">Don't have an account ? Sign Up.</ion-label>
    </div>

  </div>
</ion-content>